    <!-- Live Section -->
    <section id="live" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>Watch live</h2>
                <p>Press play to see the live feed of us if we're currently brewing.</p>
                    <!-- 16:9 aspect ratio -->
                    <div class="embed-responsive embed-responsive-16by9">
                      <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/videoseries?list=PLcdrRFyLNKzCIq01Y-2DZQHinvsxeG5LV" allowfullscreen></iframe>
                    </div>
            </div>
        </div>
    </section>