    <!-- Live Section -->
    <section id="live" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>Watch live</h2>
                <p>Press play to see the live feed of us if we're currently brewing.</p>
                <iframe width="640" height="360" src="https://www.youtube.com/embed/videoseries?list=PLcdrRFyLNKzCIq01Y-2DZQHinvsxeG5LV" frameborder="0" allowfullscreen></iframe>
            </div>
        </div>
    </section>